{% extends "staff/partials/theme.html" %}

{% block content %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/web/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"> <a href="/web/admin/products">Products</a></li>
                <li class="breadcrumb-item active">{{product.name}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="product-detail">
        <div class="card shadow">
            <div class="card-header">
                <span>Product Content</span>
            </div>
            <div class="card-body pt-2">
                <div class="table-responsive">
                    <table class="product-content-table table table-striped table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">#</td>
                                <td class="text-center">Name</td>
                                <td class="text-center">Size</td>
                                <td class="text-center">Extension</td>
                                <td class="text-center">Duration</td>
                                <td class="text-center">Date Added</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        $(".product-content-table").dataTable(
            {
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/api/v1/datatables/product/content?format=datatables",
                    "type": "GET",
                    "data": {
                        "request_id": "{{product.id}}"
                    }
                },
                "columns": [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        },
                        orderable: false,
                        searchable: false,
                        className: 'text-center',
                    },
                    {
                        "data": "name",
                        "name": "name",
                        "className": "text-center"
                    },
                    {
                        "data": "file_size",
                        "name": "file_size",
                        "className": "text-center"
                    },
                    {
                        "data": "file_extension",
                        "name": "file_extension",
                        "className": "text-center"
                    },
                    {
                        "data": "duration",
                        "name": "duration",
                        "className": "text-center"
                    },
                    {
                        "data": "created_at",
                        "name": "created_at",
                        "className": "text-center"
                    }
                ]
            }
        );
    </script>
{% endblock %}