{% extends "staff/partials/theme.html" %}

{% block styles %}

{% endblock %}

{% block content %}
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/web/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active"> Products</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="list-products">
        <div class="card shadow">
            <div class="card-header">
                Products
            </div>

            <div class="card-body pt-2">
                <div class="table-responsive">

                    <table class="list-products-tables table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Code</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Short Description</th>
                                <th class="text-center">Long Description</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.list-products-tables').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/api/v1/datatables/products?format=datatables",
                    "type": "GET"
                },
                "columns": [
                    {
                        "data": "id",
                        "className": "text-center"
                    },
                    {
                        "data": "name",
                        "className": "text-center"
                    },
                    {
                        "data": "title",
                        "className": "text-center"
                    },
                    {
                        "data": "short_description",
                        "className": "text-center"
                    },
                    {
                        "data": "long_description",
                        "className": "text-center"
                    }
                ]
            });
        });
    </script>
{% endblock %}