{% extends "staff/partials/theme.html" %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css'>
<style>
    .bi-pen{
        cursor: pointer;
        color:green!important;
    }
    .h5{
        color: #5968B0!important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="pagetitle">
        <h1>Serial Keys</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/web/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/web/admin/serial-keys">Serial Keys</a></li>
                <li class="breadcrumb-item active">{{instance.key}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="retrieve-key-details">
        <div class="row d-flex justify-content-between">
            <div class="col-md-7">
                <div class="card shadow">
                    <div class="card-header text-secondary h5 border-info">
                        Key Details
                    </div>
                    <div class="card-body mt-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="mb-0"><b>KEY:</b><span> {{instance.key}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>DATE GENERATED:</b> <span> {{instance.created_at}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>EXPIRY DATE:</b> <span> {{instance.expires_at}}</span></p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p class="mb-0"><b>VALIDITY:</b> <span>{{validity}}</span></p>
                                <i class="bi bi-pen" data-toggle="tooltip" data-placement="top" title="edit validity"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p class="mb-0"><b>WATERMARK:</b> <span>{{instance.watermark}}</span></p>
                                <i class="bi bi-pen" data-toggle="tooltip" data-placement="top" title="edit watermark"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p class="mb-0"><b>ACCESS STATUS:</b> <span>{% if not instance.videos.exists %} ALL VIDEOS {% endif %}</span></p>
                                <i class="bi bi-pen" data-toggle="tooltip" data-placement="top" title="edit access status"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <p class="mb-0"><b>STATUS:</b> <span>{{instance.status}}</span></p>
                                <i class="bi bi-pen" data-toggle="tooltip" data-placement="top" title="edit status"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow mt-2">
                    <div class="card-header d-flex justify-content-between align-items-center text-secondary h5 border-info">
                        Product Details
                        <button class="btn rounded-0 shadow text-white" style="background-color: #5968B0;"
                        onclick="window.location='/web/admin/retrieve-product/{{instance.product.id}}'"
                        data-toggle="tooltip" data-placement="top" title="click to view product">View Product</button>
                    </div>
                    <div class="card-body mt-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="mb-0"><b>NAME:</b> <span>{{instance.product.name.title}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>TITLE:</b> <span>{{instance.product.title.title}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>SHORT DESCRIPTION:</b><span>{{instance.product.short_description}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>LONG DESCRIPTION: </b> <span>{{instance.product.long_description}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>DATE CREATED: </b><span>{{instance.product.created_at}}</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if instance.client %}
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header h5 border-info">
                        Activated By
                    </div>
                    <div class="card-body mt-2">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="mb-0"><b>CLIENT:</b> <span>{{instance.client.username}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>PHONE:</b> <span>{{instance.client.phone}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>DATE ACTIVATED:</b> <span>{{instance.date_activated}}</span></p>
                            </li>
                            <li class="list-group-item">
                                <p class="mb-0"><b>DEVICE:</b> <span>{{instance.app.model_name}}</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>

    <div class="modal fade" id="updateKeyModal" tabindex="-1" role="dialog" aria-labelledby="updateKeyModalCentered" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-0 border-0">
                <div class="modal-header bg-secondary text-white rounded-0">
                    <h5 class="modal-title" id="updateKeyModalTitle">Update Key</h5>
                    <button type="button" class="close btn btn-modal-close border-0 text-white shadow-none"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 1.5em;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="updateKeyForm">
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary rounded-0
                    shadow-none btn-modal-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary rounded-0 submit-key-form shadow-none">Update changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function(){
        function displayMessage(message, type, title){
            Swal.fire({
                title: title,
                text: message,
                icon: type,
                confirmButtonText: 'Ok',
                didClose: () => {
                    if (type == 'success'){
                        location.reload();
                    }
                }
            });
        }

        $(".bi-pen").on("click", function(){
            let field = $(this).parent().find("b").text().replace(":", "").toLowerCase();
            let formContainer = $("#updateKeyForm");
            if (field == "validity"){
                let fieldInput = `<div class="form-group">
                                    <label for="validity" class="mb-1">Validity</label>
                                    {{form.validity}}
                                </div>`;
                formContainer.html(fieldInput);
            }
            else if (field == "watermark"){
                let fieldInput = `<div class="form-group">
                                    <label for="watermark" class="mb-1">Watermark</label>
                                    {{form.watermark}}
                                </div>`;
                formContainer.html(fieldInput);
            }
            else if (field == "access status"){
                let fieldInput = `<div class="form-group">
                                    <label for="access_status" class="mb-1">Access Status</label>
                                    {{form.videos}}
                                </div>`;
                formContainer.html(fieldInput);
            }
            else if (field == "status"){
                let fieldInput = `<div class="form-group">
                                    <label for="status" class="mb-1">Status</label>
                                    {{form.status}}
                                </div>`;
                formContainer.html(fieldInput);
            }

            $("#updateKeyModal").on("show.bs.modal", function(){
                $('.videos-selector').select2({
                    placeholder: "Select a video",
                    ajax: {
                        url: "/api/v1/datatables/search-videos",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term,
                                product_id: $('.products-select').val()
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: $.map(data, function (item) {
                                    let new_list = []
                                    for (let i = 0; i < item.length; i++) {
                                        new_list.push({
                                            id: item[i].id,
                                            text: item[i].name
                                        })
                                    }
                                    return new_list
                                })
                            };
                        },

                        cache: true
                    },
                });

                $('.videos-selector').on('select2:select', function(e) {
                    // Check if the selected option is not "all"
                    if (e.params.data.id !== "all") {
                        // Remove the "all" option from the dropdown
                        $('.videos-selector').find('option[value="all"]').remove();
                    }
                });
            });

            $("#updateKeyModal").modal("show");
        });

        $(".submit-key-form").on("click", function(){
            let data = $("#updateKeyForm").serialize();
            $.ajax({
                url: "/api/v1/datatables/update-key/{{instance.key}}",
                type: "POST",
                data: data,
                success: function(response){
                    $("#updateKeyModal").modal("hide");
                    displayMessage(response.message, "success", "Success");
                },
                error: function(response){
                    $("#updateKeyModal").modal("hide");
                    displayMessage(response.responseJSON.message, "error", "Error");
                }
            });
        });

        $(".btn-modal-close").on("click", function(){
            $("#updateKeyModal").modal("hide");
        });
    });
</script>
{% endblock %}