{% extends "staff/partials/theme.html" %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css'>
<style>
    .h5{
        color: #5968B0!important;
    }
    input[type=checkbox] {
        background-color: #0d6efd!important;
        border-color: #0d6efd!important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="pagetitle">
        <h1>Serial Keys</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/web/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/web/admin/serial-keys">Serial Keys</a></li>
                <li class="breadcrumb-item active">Generate Key(s)</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="generate-serial-key">

        <div class="card shadow w-50">

            <div class="card-header h5">
                Generate Key(s)
            </div>

            <div class="card-body pt-2">

                <form action="/api/v1/videos/keygen" method="POST" class="generate-key-fm">
                    {% csrf_token %}

                    {{form}}
                    <input type="hidden" name="user" value="{{request.user.id}}">
                    <button class="d-block btn btn-primary rounded-0 shadow-none mt-3" type="submit">
                        Generate
                    </button>

                </form>

            </div>

        </div>

    </section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function(){
        $(".products-select").select2({
            placeholder: "Select a product",
            ajax: {
                url: "/api/v1/datatables/search-product",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                        return {
                            q: params.term,
                            client: '{{request.user.id}}'
                        }
                    },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            let new_list = []
                            for (let i = 0; i < item.length; i++) {
                                new_list.push({
                                    id: item[i].id,
                                    text: item[i].name
                                })
                            }
                            return new_list
                        })
                    };
                },

                cache: true
            },
        });


        $('.videos-selector').select2({
            placeholder: "Select a video",
            ajax: {
                url: "/api/v1/datatables/search-videos",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        product_id: $('.products-select').val()
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            let new_list = []
                            for (let i = 0; i < item.length; i++) {
                                new_list.push({
                                    id: item[i].id,
                                    text: item[i].name
                                })
                            }
                            return new_list
                        })
                    };
                },

                cache: true
            },
        });

        $('.videos-selector').on('select2:select', function(e) {
            // Check if the selected option is not "all"
            if (e.params.data.id !== "all") {
                // Remove the "all" option from the dropdown
                $('.videos-selector').find('option[value="all"]').remove();
            }
        });
    });
</script>
<script>
    // on closure of sweetalert, reload the page
    function gotoPage(){
        window.location.href="/web/admin/serial-keys"
    }

    function displayMessage(message, type, title){
        Swal.fire({
            title: title,
            text: message,
            icon: type,
            confirmButtonText: 'Ok',
            didClose: () => {
                if (type == 'success'){
                    gotoPage();
                }
            }
        });
    }

    $(".generate-key-fm").on("submit", function(e){
       e.preventDefault();
       let data = $(this).serialize();
       let url = $(this).attr("action");
       $.ajax({
           url: url,
           type: "POST",
           data: data,
           success: function(data){
                displayMessage(data.message, "success" , "Success")
           },
           error: function(err){
               displayMessage("Failed to generate serial key. Try again.", "error", "Error")
           }
       })
    });
</script>
{% endblock %}